/* styles.css */

body {
    background-color: #111111;
    color: #ffffff;
    font-family: 'Cabinet Grotesk', sans-serif;
    margin:0;
    padding:0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
  }
  
  header h1 {
    font-weight: bold;
  }
  
 .author {
    padding: 10px;
    margin-right: 30px;
  }
  
  nav {
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav ul li button {
    background-color: #111111;
    color: #ffffff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: 300;
    padding: 10px;
  }
  
  nav ul li button:hover {
    color: #777777;
  }

  .dropdown select {
    background-color: #111111;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0;
    padding: 10px;
    margin-left: 30px;
    text-align-last: center;
    -webkit-appearance: none; /* removes default chrome and safari style */
    -moz-appearance: none; /* removes default firefox style */
    appearance: none; /* removes default select arrow */
  }

  .container {
  width: 100%;
}

.box {
  width: 100%;
  background-color: #111111;
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px; /* this will make each box one-third of the viewport height */
  padding: 20px;
  box-sizing: border-box;
}

.box h2 {
  margin-bottom: 20px;
}

.box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 33%;
  border-bottom: 2px solid #ffffff;
}

.timeline {
    position: relative;
    height: 2px; /* adjust as needed */
    background: #ffffff;
    margin: 50px 20px; /* adjust as needed */
  }
  
  .timeline .less-text,
  .timeline .more-text {
    position: absolute;
    top: -20px; /* adjust as needed */
    color: #ffffff;
  }
  
  .timeline .less-text {
    left: 0;
  }
  
  .timeline .more-text {
    right: 0;
  }

  .timeline .center-text {
    position: absolute;
    left: 50%;
    top: -20px; /* adjust as needed */
    transform: translateX(-50%);
    color: #ffffff;
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  